.pulse[data-v-207c7b6a] {
    -webkit-animation: pulse 1s 3;
    animation: pulse 1s 3;
    margin-bottom: 8px
}

#custom_gas_wrapper[data-v-207c7b6a] {
    margin-top: .4em;
    margin-left: 6em;
    display: block
}

.gastoolow[data-v-207c7b6a] {
    color: #8b0000
}

@media only screen and (max-device-width:730px) {
    #custom_gas_wrapper[data-v-207c7b6a],
    #gas_price label[data-v-207c7b6a] {
        margin-top: 0;
        margin-left: 0
    }
}

#add-liquidity {
    margin-right: 1em
}

#mintr {
    margin-top: 1em;
    text-align: center
}

#mintr,
#stakeunstaked {
    margin-left: 1em
}

.pulse {
    background: red;
    margin: 0;
    margin-bottom: 8px
}

.pulse,
.pulseinfo {
    -webkit-animation: pulse 1s 3;
    animation: pulse 1s 3
}

.maxBalanceCoin {
    cursor: pointer
}

.maxBalanceCoin:hover {
    text-decoration: underline
}

.maxBalanceCoin>span {
    font-size: .7em
}

.pulse p {
    margin-bottom: 0
}

.currency_label {
    display: block;
    margin-bottom: .3em
}

.currency_label .token-icon {
    margin-right: .6em
}

.curvelpusd {
    display: inline-block;
    padding-top: 1em
}

.advancedoptions,
.advancedoptions+div fieldset {
    margin-top: 1em
}

.advancedoptions+div legend {
    text-align: center
}

#stakepercentage {
    width: 2.6em
}

label[for=stakepercentage] {
    margin-right: 1em
}

#max_slippage .invalid,
#stakepercentage.invalid {
    background-color: red
}

#max_slippage {
    margin-top: .4em
}

.risks a:visited,
.window .risks a {
    color: #fff;
    border-bottom: 1px dashed #fff;
    text-decoration: none
}

.window .risks a:hover {
    text-decoration: none;
    border-bottom-style: solid
}

.modal-content {
    text-align: center;
    padding: 0;
    border: none;
    width: 260px
}

.modal-content fieldset {
    color: #fff;
    font-weight: bolder;
    border: 6px double #fff;
    -webkit-padding-before: 1em;
    padding-block-start: 1em;
    -webkit-padding-after: 1em;
    padding-block-end: 1em
}

.modal-content button {
    margin-top: .6em;
    padding: 0 2em
}

.legend2 {
    position: absolute;
    top: 0;
    left: 2em;
    background: silver;
    line-height: 1.2em
}

.greentext {
    color: green
}

.legend2 .greentext {
    display: inline-block;
    -webkit-transform: translate3d(0, -.1em, 10em);
    transform: translate3d(0, -.1em, 10em)
}

.legend2 .greentext:hover {
    -webkit-transform: none;
    transform: none
}

.modal-content {
    width: 500px
}

.modal .content {
    text-align: left
}

.redwarning {
    color: #8b0000
}

.canceldepositslippage {
    margin-right: 1em
}

.buttonred,
.buttonred:hover {
    background: red;
    border: 1px outset red
}

.confirmslippage {
    margin-top: 1em;
    color: red
}