.swapBTC-container[data-v-44622375] {
    margin-top: 1em;
    margin-bottom: 1em;
    cursor: pointer
}

.swapBTC-container label[data-v-44622375] {
    cursor: pointer
}

.loading.line[data-v-44622375] {
    margin-left: 1em
}

.aligncontainer[data-v-44622375] {
    margin: 0 auto;
    width: 80%
}

.swapBTC-container.info-message[data-v-44622375] {
    padding-top: .4em;
    padding-bottom: .4em
}