.pulse[data-v-207c7b6a] {
    -webkit-animation: pulse 1s 3;
    animation: pulse 1s 3;
    margin-bottom: 8px
}

#custom_gas_wrapper[data-v-207c7b6a] {
    margin-top: .4em;
    margin-left: 6em;
    display: block
}

.gastoolow[data-v-207c7b6a] {
    color: #8b0000
}

@media only screen and (max-device-width:730px) {
    #custom_gas_wrapper[data-v-207c7b6a],
    #gas_price label[data-v-207c7b6a] {
        margin-top: 0;
        margin-left: 0
    }
}

#claim-adai,
#claim-bpt,
#claim-CRV,
#claim-snx,
#claim-snx-gauge,
#claim-snxbpt,
#remove-liquidity,
#remove-liquidity-unstake {
    margin-right: 1em
}

#withdrawold {
    margin-left: 3px;
    color: #fff
}

#amount-warning {
    margin-bottom: 1em
}

#mintr {
    margin-top: 1em;
    margin-left: 1em
}

#withdraw_buttons {
    text-align: center;
    margin-top: 3px
}

.currency_label {
    display: block;
    margin-bottom: .3em
}

.currency_label .token-icon {
    margin-right: .6em
}

.withdrawin {
    margin-bottom: .3em
}

#withdraw_buttons button:nth-child(n+3) {
    margin-top: .6em
}

.hoverpointer {
    cursor: pointer
}

.modal-content {
    width: 280px
}

.warningtext {
    color: #8b0000
}

.buttoncancel {
    margin-left: 1em;
    background: grey;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none
}

.modaltext {
    color: #000
}

.advancedoptions,
.advancedoptions+div fieldset {
    margin-top: 1em
}

.advancedoptions+div legend {
    text-align: center
}

#unstakestaked {
    margin-left: 1em
}

#unstakepercentage {
    width: 5.1em
}

#stakedbalance span {
    cursor: pointer;
    border-bottom: 1px solid #000;
    border-bottom-style: dashed
}

label[for=unstakepercentage] {
    margin-right: 1em
}

#unstakepercentage.invalid {
    background-color: red
}

#stakedbalance+div {
    margin-top: 1em
}

.modal-content {
    text-align: center;
    padding: 0;
    border: none;
    width: 260px
}

.modal-content fieldset {
    color: #fff;
    font-weight: bolder;
    border: 6px double #fff;
    -webkit-padding-before: 1em;
    padding-block-start: 1em;
    -webkit-padding-after: 1em;
    padding-block-end: 1em
}

.modal-content button {
    margin-top: .6em;
    padding: 0 2em
}

.legend2 {
    position: absolute;
    top: 0;
    left: 2em;
    background: silver;
    line-height: 1.2em
}

.greentext {
    color: green
}

.legend2 .greentext {
    display: inline-block;
    -webkit-transform: translate3d(0, -.1em, 10em);
    transform: translate3d(0, -.1em, 10em)
}

.legend2 .greentext:hover {
    -webkit-transform: none;
    transform: none
}

.modal-content {
    width: 500px
}

.modal .content {
    text-align: left
}

.redwarning {
    color: #8b0000
}

.canceldepositslippage {
    margin-right: 1em
}

.buttonred,
.buttonred:hover {
    background: red;
    border: 1px outset red
}

.confirmslippage {
    margin-top: 1em;
    color: red
}